.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 20px;
    text-align: center;
  }
  
  .card-body:hover {
    background-color: #cdcdd4; 
    border-radius: 10px;
  }
  
  .card-body img {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border-radius: 50%;
  }
  
  .card-body img:hover {
    transform: scale(2); 
  }
  
  .card-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  
  .card-body h5 {
    margin-bottom: 10px;
  }
  
  .card-body h5:hover {
    color: #007bff; 
  }
  

